html, body, .container-fluid
{
	min-height:100%;
}

#menu_wrapper
{
	height:50px;
}

.menu
{
	background-color:#ba2722;
	color:#fff;
}
.green
{
	background-color:#607401;
	color:#fff;
}
.green h1,.green h2
{
	color:#fff;
}
.gray
{
	background-color:#eedddd;
}

.fullheight { 
    min-height: 100%;
    height: 100%;
}
.page{
	background-color:#fff;
}
.top-buffer
{
	margin-top:20px;
}

.col-withoutpadding
{
	padding-left:0px;
	padding-right:0px;
}

.header-image
{
	background-image:url('../img/header3.jpg')
}

.header-title-container, .red
{
	background-color:#ff3c3c;
	color:#fff;
}

.header-title-container
{
	min-width:300px;
	height:300px;
}

.header-title-container h1
{
	color:#fff;
	font-size:70px;
	font-family:Arial, Helvetica, sans-serif;
}

.header-title-container h2
{
	color:#fff;
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:11px;
}

.headertext
{
	font-size:60px;
	color:#fff;
	padding:5px;
	background-color:#ff3c3c;
	border-radius: 25px;
}

#headerbackground
{
	position:relative;
}

#headertext1
{
	position:absolute;
	top:65px;
	left:150px;
}
#headertext2
{
	position:absolute;
	top:170px;
	left:410px;
}
#headertext3
{
	position:absolute;
	top:35px;
	left:610px;
}

h1, h2
{
	color:#ff3c3c;
}

ul.fancy li, li.fancy {
    display: block;
}

ul.fancy li:before, li.fancy:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e002";
    font-family: 'Glyphicons Halflings';
    font-size: 11px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color:inherit;
}